<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restart password</title>
    <style>
        body {
            margin: 0px;
            overflow: hidden;
        }

        .z {
            border: 2px solid black;
            border-radius: 10px;
            outline: none;
            padding: 5px;
        }

        .z:focus {
            border: 2px solid blue;
        }

        .a {
            background: linear-gradient(to bottom, blue, blue, blue, rgb(5, 5, 179));

        }

        .a:hover {
            background: linear-gradient(to bottom, blue, blue, rgb(5, 5, 179), rgb(5, 5, 179));
            border: 2px solid white;
        }

        .a:active {
            background: linear-gradient(to bottom, rgb(5, 5, 179), rgb(5, 5, 179), rgb(5, 5, 179), rgb(5, 5, 179));
        }

        .conic {
            background: conic-gradient(white, green, white, green, white, green);
        }

        .conic1 {
            --progress: 40%;
            --progrees2: 40%;
            --progress3: 10%;
            background: conic-gradient(black, green, black, green, black, green);
        }

        .classGmail {}

        .classPassword {}

        .b {
            background: linear-gradient(to left top, gray, black);
        }

        .b1 {
            background: linear-gradient(to left top, black, black);

        }

        .editCode {
            outline: none;
            border: 2px solid black;
        }

        .editCode:focus {
            border: 2px solid blue;
        }
    </style>
</head>

<body>
    {% load static %}
    <div
        style="width: 100%;height: 130px;background-color: blue;display: flex;flex-direction: column;justify-content: center;align-items: center;">
        <p style="width: fit-content;height: 100%;
        {% if isForget == 1 %}
        font-size: 40px;

            {%else%}
            font-size: 20px;

            {%endif%}
        text-shadow: 2px -2px 2px gray;margin-left: 90vw;">
            {% if isForget == 1 %}
            דף
            איפוס סיסמה
            {%else%}
            דף אימות משתמש עם
            אימייל
            למקרה של צורך באיפוס סיסמה
            {%endif%}
        </p>
    </div>
    <div
        style="position: relative;width: 100vw;height: 100vh;display: flex;justify-content: center;align-items: center;flex-direction: column;margin-top: -130px;">

        <div style="width: 100vw;height: 100vh;position: absolute;z-index: 1;background-color: transparent;;" id="body">

        </div>
        <div class="classGmail" style="position: relative;width: 100vw;height: 100vh;justify-content: center;align-items: center;
            ">

            <div style="width: 706px;height: 306px;padding: 3px;background-color: black;border-radius: 30px;position: absolute;
            padding: 25px;border-radius: 20px;margin-top: -200px;" class="gradient1">

            </div>
            <div style="position: absolute;width: 700px;height: 300px;display: flex;align-items: center;justify-content: center;padding: 10px;border-radius: 20px;flex-direction: column;z-index: 2;background-color: white;margin-top: -200px;"
                id="content1">
                <input type="text" placeholder="gmail..." style="width: 600px;height: fit-content;font-size: 20px;"
                    class="z" id="email12">
                <input type="button" value="send code to restart password" style="padding: 5px;border-radius: 20px;
                margin-bottom: -100px;margin-left: -280px;margin-top: 100px;font-size: 30px;" class="a"
                    onclick="clickSendMail()">

            </div>
        </div>

        <div style="width: 100vw;height: 100vh;position: relative;display: flex;justify-content: center;align-items: center;flex-direction: column;top: 50px;display: none;"
            id="div_code">
            <div style="position: relative;width: 700px;height: 300px;display: flex;align-items: center;justify-content: center;padding: 10px;border-radius: 20px;flex-direction: column;z-index: 2;background-color: white;z-index: 102;"
                id="num_code">
                <div style="display: flex;width: fit-content;height: fit-content;flex-direction: row;">
                    <input type="text" maxlength="1"
                        style="width: 70px;height: 100px;border-radius: 10px;align-items: center;text-align: center;font-size: 25px;margin: 5px;"
                        class="editCode" id="code1">
                    <input type="text" maxlength="1"
                        style="width: 70px;height: 100px;border-radius: 10px;align-items: center;text-align: center;font-size: 25px;margin: 5px;"
                        class="editCode" id="code2">
                    <input type="text" maxlength="1"
                        style="width: 70px;height: 100px;border-radius: 10px;align-items: center;text-align: center;font-size: 25px;margin: 5px;"
                        class="editCode" id="code3">
                    <input type="text" maxlength="1"
                        style="width: 70px;height: 100px;border-radius: 10px;align-items: center;text-align: center;font-size: 25px;margin: 5px;"
                        class="editCode" id="code4">

                </div>
            </div>
            <div style="position: relative;width: 720px;height: 320px;display: flex;align-items: center;justify-content: center;padding: 10px;border-radius: 20px;flex-direction: column;z-index: 2;z-index: 101;top: -324px;left: 5px;background-color: black;"
                id="ee2_code">

            </div>
        </div>


        <div style="width: 100vw;height: 100vh;position: relative;justify-content: center;align-items: center;flex-direction: column;top: 50px;margin-top: -400px;display: none;"
            class="classPassword">
            <p id="tvuser"
                style="font-size: 20px;text-shadow: -2px 2px 2px gray;color: black;font-family: cursive;position: relative;z-index: 4000;top: 12px;">
                your user is </p>
            <div style="position: relative;width: 700px;height: 300px;display: flex;align-items: center;justify-content: center;padding: 10px;border-radius: 20px;flex-direction: column;z-index: 2;background-color: white;z-index: 102;top: -30px;"
                id="num">
                <input type="password" placeholder="סיסמה..." name="password1"
                    style="width: 600px;height: fit-content;font-size: 20px;margin: 20px;" class="z" id="z1">
                <div style="width: fit-content;height: fit-content;position: relative;top: -40px;left: 260px;"
                    id="divShow">
                    <img src="{% static 'images/visibility_off.png' %}" alt="showpassword" id="imgShow"
                        style="margin-top: -40px;margin-right: -200px">
                </div>
                <input type="password" placeholder="אימות סיסמה..." name="password2"
                    style="width: 600px;height: fit-content;font-size: 20px;margin: 10px;" class="z" id="z2">
                <div style="width: fit-content;height: fit-content;position: relative;top: -40px;left: 260px;"
                    id="divShow2">
                    <img src="{% static 'images/visibility_off.png' %}" alt="showpassword" id="imgShow2"
                        style="top: -30px;margin-right: -200px">
                </div>
                <input type="button" value="כניסה"
                    style="padding: 5px;border-radius: 20px;
                        margin-bottom: -100px;margin-left: -280px;font-size: 30px;margin-bottom: -10px;margin-top: 40px;" class="a"
                    onclick="doChangePassword()">
                <p style="width: 300px;display: none;color: red;height: fit-content;" id="tvN">סיסמאות לא זהות</p>
                <a href="{% url 'index1'%}"
                    style="font-size: 30px;color: blue;position: relative;z-index: 4000;">דלג</a>

            </div>

        </div>


    </div>
    <div style="position: relative;width: 730px;height: 350px;display: flex;align-items: center;justify-content: center;padding: 10px;border-radius: 20px;flex-direction: column;z-index: 2;background-color: blue;z-index: 101;left: 400px;top: -670px; display: none;"
        id="ee2" name="45id">

    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>

    <script>


        let url = "{% url 'send' isForget %}";


    </script>



    <script>



        let isForget1 = {{ isForget | escapejs }};

        let gmailClass = document.getElementsByClassName('classGmail')[0];
        let div_code = document.getElementById('div_code');
        let classPassword = document.getElementsByClassName('classPassword')[0];

        let emailInput = document.getElementById('email12');
        let email = ''
        let gray = document.getElementsByName('45id')[0];

        restartDisplay();
        gmailClass.style.display = 'flex';

        let tv = document.getElementById('tvuser');



        function doChangePassword() {
            let password1 = document.getElementsByName('password1')[0].value;
            let password2 = document.getElementsByName('password2')[0].value;
            let tvN = document.getElementById('tvN');

            if (password1 !== password2) {
                tvN.style.display = 'block';
            }
            else {
                fetch('/change_password/', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ 'password': password1 }) }).then(response => response.json()).then(data => {
                    window.location.href = "{% url 'index1' %}";
                });
            }

        }

        function clickSendMail(event) {

            fetch(url, { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ 'email': document.getElementById('email12').value }) })
                .then(response => response.json())
                .then(data => {
                    console.log('inside');
                    if (typeof emailjs === 'undefined') {
                        console.error('EmailJS לא נטען');
                    }
                    console.log('EmailJS loaded!');
                    emailjs.init({ publicKey: '06Q_EgTOx6dvCTX5a' });
                    console.log(data['code'])
                    console.log(data['email'])
                    const templateParams = {
                        name: 'your gallery',
                        code: data['code'],
                        email: data['email'],
                    };

                    emailjs.send('service_u5v11l7', 'template_y2j6brr', templateParams, '06Q_EgTOx6dvCTX5a')
                        .then(function (response) {
                            alert('Email sent successfully!');
                            restartDisplay();
                            tv.innerText = 'your name user is: ' + data['name'];
                            console.log("data['password'] " + data['password'])
                            document.getElementsByName('password1')[0].value = data['password'];
                            div_code.style.display = 'flex';
                        }, function (error) {
                            alert('Failed to send email.');
                        });
                });

        }




        let code1 = document.getElementById('code1');
        let code2 = document.getElementById('code2');
        let code3 = document.getElementById('code3');
        let code4 = document.getElementById('code4');
        let codes = [];

        codes.push(code1);
        codes.push(code2);
        codes.push(code3);
        codes.push(code4);



        setInterval(() => {
            let isStop = false;
            let code = '';
            let i = 0;
            for (; i < codes.length - 1 && !isStop; i++) {
                if (codes[i].value.trim().length > 0) {
                    codes[i + 1].focus();
                    code += codes[i].value;
                }
                else {
                    isStop = true;
                }
            }
            if (i === codes.length - 1 && codes[i].value.trim().length > 0) {
                code += codes[i].value;
                fetch('/moveToChangePassword/', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ 'password': code }) }).then(response => response.json()).then(data => {
                    if (data['r'] === 'good') {

                        restartDisplay();
                        classPassword.style.display = 'flex';
                        gray.style.display = 'block';
                    }
                    else if (data['r'] == 'bad code') {

                        for (let i = 0; i < codes.length; i++) {
                            codes[i].value = '';
                        }
                        codes[0].focus();
                    }
                });
            }
        }

            , 50);



        let gradient1 = document.getElementsByClassName('gradient1')[0];
        let content1 = document.getElementById('content1');
        let body = document.getElementById('body');

        let divGrdient = document.getElementById('ee2');
        let divContent = document.getElementById('num');

        let isOnDiv2 = false;
        let isOnDiv = false;
        let isOnDiv3 = false;

        let divGrdient1 = document.getElementById('ee2_code');
        let divContent1 = document.getElementById('num_code');

        divGrdient1.classList.add('b');
        divContent1.addEventListener('click', (event) => {
            isOnDiv3 = true;
            if (!divGrdient1.classList.contains('b1')) {
                divGrdient1.classList.replace('b', 'b1');
            }

            setTimeout(() => {
                isOnDiv3 = false;
            }, 50);
        });
        gradient1.classList.add('conic');
        divGrdient.classList.add('b');
        content1.addEventListener('click', (event) => {
            isOnDiv = true;
            if (!gradient1.classList.contains('conic1')) {
                gradient1.classList.replace('conic', 'conic1');
            }

            setTimeout(() => {
                isOnDiv = false;
            }, 50);
        });

        body.addEventListener('click', (event) => {
            console.log('inside2');
            if (!isOnDiv) {
                if (!gradient1.classList.contains('conic')) {
                    gradient1.classList.replace('conic1', 'conic');
                }
            }
            if (!isOnDiv2) {
                if (!divGrdient.classList.contains('b')) {
                    divGrdient.classList.replace('b1', 'b');
                }
            }

            if (!isOnDiv3) {
                if (!divGrdient1.classList.contains('b')) {
                    divGrdient1.classList.replace('b1', 'b');
                }
            }
        });

        divContent.addEventListener('click', (event) => {
            console.log('inside123');
            if (!divGrdient.classList.contains('b1')) {
                divGrdient.classList.replace('b', 'b1');
                isOnDiv2 = true;
                setTimeout(() => { isOnDiv2 = false; }, 50);
            }
        });


        function doShowPassword() {
            let divShow = document.getElementById('divShow');
            let imgShow = document.getElementById('imgShow');
            let edit = document.getElementById('z1');

            divShow.addEventListener('mouseover', (event) => {
                edit.type = 'text';
                imgShow.src = "{% static 'images/visibility_on.png' %}";
                console.log('inside');
            });

            divShow.addEventListener('mouseleave', (event) => {
                edit.type = 'password';
                imgShow.src = "{% static 'images/visibility_off.png' %}";
            });
        }
        doShowPassword();

        function doShowPassword2() {
            let divShow = document.getElementById('divShow2');
            let imgShow = document.getElementById('imgShow2');
            let edit = document.getElementById('z2');

            divShow.addEventListener('mouseover', (event) => {
                edit.type = 'text';
                imgShow.src = "{% static 'images/visibility_on.png' %}";
            });

            divShow.addEventListener('mouseleave', (event) => {
                edit.type = 'password';
                imgShow.src = "{% static 'images/visibility_off.png' %}";
            });
        }
        doShowPassword2();


        function restartDisplay() {
            gmailClass.style.display = 'none';
            div_code.style.display = 'none';
            classPassword.style.display = 'none';
            gray.style.display = 'none';
        }


    </script>
</body>

</html>